<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - Psychodrama - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

   <div class="brand"><a href="/">Healing World!</a></div>
    <div class="address-bar">Show your own story</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">About</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">login</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Psychodrama</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/about/5.jpg" alt=""><br>
                    <img class="img-responsive img-border-left" src="img/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                     <p> 1921년 오스트리아의 정신과 의사 모레노에 의해 시작된 사이코드라마는 심리극이라고도 하는데, 개인이 자신의 문제를 말 대신 행동으로 표현하는 방법이다.</p>
                     <p>사이코드라마를 창시한 의사 모레노는 사이코드라마를 '진실의 극장(the theater of truth)'이라 표현하면서 '연극적 방법을 통해 인간존재의 진실을 조명하고, 인간이 처한 환경의 현실적인 측면을 탐구하는 과학'이라고 설명하였다. 사이코드라마는 심리치료, 교육, 예방, 발달을 목적으로 즉흥극을 활용하는 상담기법이다. 일정한 대본이 없이 등장인물인 환자에게 어떤 역과 상황을 주어 그가 생각나는 대로 연기를 하게 하여 그의 억압된 감정과 갈등을 표출하게 하여 적응장애(適應障碍)를 고치는 방법이다. 이 경우 자신이 상대역을 하고 상대방이 자신의 역할을 하는 식으로 역할을 교환하면 타인이 자기를 보는 것처럼, 객관적으로 자신을 볼 수 있으며 통찰하기도 쉽다. 이것을 역할 연기(role-playing)라고 한다. 극의 주제가 사적인 문제를 취급할 때만 사이코드라마라고 하고, 공적인 문제를 주제로 할 때는 소시오드라마(sociodrama)라고 한다.</p>
                     <p>사이코드라마는 보통 무대와 주인공, 보조자, 연출자 그리고 관객으로 구성되며 3단계로 이뤄진다. 첫번째 단계인 '워밍업'에서는 게임 등으로 참여자들이 긴장을 깨고 자발적으로 드라마에 빠질 수 있도록 하며 주인공도 뽑는다.
                    두번째는 주인공이 자신의 문제를 무대위에서 행동으로 옮기는 '액팅'으로 사이코드라마 그 자체다. 주인공은 연출자의 지도에 따라 다양한 상황을 행위하며 죄의식, 원한, 두려움, 갈망 등의 억압된 감정들을 표현하게 된다.
                    세번째는 참여자와 관객이 드라마를 통해 경험한 감정들을 서로 나누는 '쉐어링' 단계다.</p>
 
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Elements</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">

                
 
                    <img class="img-responsive" src="img/about/friend.jpg" alt="">
                    <h3>집단원-관객
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/about/character.jpg" alt="">
                    <h3>주인공
                        <small>Job Title</small>
                    </h3>   
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/about/producer.jpg" alt="">
                    <h3>연출자
                        <small>기본요소</small>
                    </h3>
                </div>

                
 
       집단원(관객) -  사이코드라마는 모든 집단원을 참여시킨다. 즉 "관객" 이라고 지정된 사람이 없고 주인공만이 행위를 하고 있는 유일한 인물도 아니다. 집단원들은 주인공이나 연출자가 지정한 다양한 역할을 연기하게 된다. 주어진 사이코드라마 상황에서 그들이 이해하고 감지한 방식이 주인공의 갈등해결에 기여하지만, 동시에 그들은 자신의 억압된, 혹은 인지하지 못한 생각과 감정들에 대한 통찰도 얻게 된다. 
 
 
    주인공 - 주인공은 자기 삶의 상황을 집단원 앞에 드러내는 사람이다. 환자든 교육자든 혹은 단순히 자기의 생각과 감정을 다른 이들과 함께 나누고 싶은 사람이든, 다른 이의 아픔과 고통에 관대하고 개방적인 사람이라면 누구나 항상 인간 드라마의 주인공이다. 
 
    연출자 - 사이코드라마 기법을 적용하는 데 있어서 집단 지도자는 주인공이 자신의 문제를 해결하도록 이끌어 간다. 이 해결 방법은 집단의 다른 구성원들이 자신의 문제를 해결하도록 돕는 것이기도 한데, 사이코드라마에 참여하는 것은 집단원들에게 자신의 경험을 연상시키고 강한 감정을 불러일으키기 때문이다. 연출자는 주인공으로 하여금 무대 위에 올라온 자신의 삶으로부터 장면을 재창조하도록 돕는다. 
 
    보조자아 - 보조자아란 중요한 타인, 즉 주인공의  삶에서 중요한 인물의 역할을 연기하고 있는 집단원이다. 주인공의 사회적 원자를 그리기 위하여 배우자, 자녀, 부모 혹은 친구가 사이코드라마 무대 위에 재현된다. 교수, 치료자, 상사, 정치 지도자 혹은 목사 등도 등장할 수 있다. 이들은 주인공과의 관계에 따라 전이를 불러일으키는 인물, 즉 주인공의 사회적 원자/일차적 가족 구성원으로부터 파생된 복사 인물들이다.
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
